.form__wrapper {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}
.form__input-wrapper {
  display: flex;
  gap: 20px;
  flex-direction: column;
  max-width: 100%;
  min-width: 0;
}
.form__label {
  font-weight: 600;
  font-size: clamp(0.8rem, 3vw, 1.25rem);
  color: purple;
  text-align: left;
}
.form__input {
  padding: 0.5rem;
  width: 200px;
  max-width: 100%;
  border: 2px solid purple;
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
  font-size: 16px;
}

.form__input:focus {
  outline: none;
  background-color: rgba(128, 0, 128, 0.1);
}
.wrapper--input {
  min-height: 100px !important;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 1rem auto;
  max-width: 90%;
}

.wrapper--input::-webkit-scrollbar {
  display: none;
}

.form__input__button {
  margin: 1rem auto;
  display: block;
  border-radius: var(--border-radius);
  border: 2px solid purple;
  font-weight: 600;
  color: purple;
  padding: 0.5rem 1rem;
}
.form__input__button:hover {
  background-color: rgba(128, 0, 128, 0.15);
  cursor: pointer;
}
.form__calories-sum {
  text-align: center;
  font-size: 1.5rem;
  color: purple;
}

@media (max-width: 767px) {
  .form__wrapper {
    flex-direction: column;
    align-items: center;
  }
} ;
