.items__text {
  font-weight: 600;
  color: purple;
  font-size: clamp(0.8rem, 4vw, 1rem);
}
.items__wrapper {
  display: flex;
  justify-content: space-around;
  border: 2px solid purple;
  margin: 0.5rem auto;
  border-radius: 10px;
}
