.wrapper {
  background-color: white;
  position: relative;
  width: auto;
  max-width: 65%;
  min-height: 200px;
  margin: 2rem auto;
  border-radius: var(--border-radius);
  box-shadow: 0 0 3px 5px purple;
  padding: 0.8rem;
}
@media (max-width: 767px) {
  .wrapper {
    max-width: 90%;
  }
}
