.calories-display {
  margin: auto;
  font-size: 1rem;
  font-weight: 700;
  color: purple;
  background-color: white;
  box-shadow: 0 0 3px 5px purple;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  width: 300px;
  max-width: 90%;
  text-align: center;
}
